body
{
    background-color: #00131A;
    color: white;
    font-family: 'Secular One', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin: 3% 20% 0% 20%;
    border: 50px solid;
    border-top: 0px;
}

.monke { border-color: #659bcf;}
body.monke a { color: #659bcf; }

.monkecon
{
    border-color: #f5e3ff;
    background: rgb(237,113,252);
    background: radial-gradient(circle, rgba(237,113,252,1) 0%, rgba(255,102,185,1) 60%, rgba(255,149,199,1) 63%, rgba(199,57,217,1) 100%);
}
body.monkecon a { color: #f5e3ff; }

.kkktd { border-color: #00767A;}
body.kkktd a { color: #00767A; }

.somxeti-sim { border-color: #d26200; }
body.somxeti-sim a { color: #d26200;}

p { padding: 5%; }
.altp { padding: 0%; }

img
{
    border-radius: 10px;
    margin: auto;
    width: 450px;
    height: auto;
}
.altimg1
{
    width: 200px;
    height: auto;
}
.tableImage
{
    width: 100px;
    height: auto;
}

table
{
    margin: auto;
    background-color: white;
    border: solid white;
    border-radius: 15px;
}
td
{
    background-color: dimgray;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
th
{
    background-color: dimgray;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
}
.ltd { font-size: 150%; }

.reg
{
    width: 350px;
    height: 45px;
    border-radius: 5px;
}

#sub
{
    border: 1px solid white;
    background-color: orange;
    color: black;
    font-family: 'Secular One', sans-serif;
    font-size: 1em;
    width: 140px;
    height: 80px;
    border-radius: 20px;
}

ol
{
    text-align: left;
    margin-left: 10%;
}

.ytembed
{
    width: 560px;
    height: 315px;
    border-radius: 15px;
}